In [81]:
import pandas as pd
import numpy as np
import glob
import re

# Clean 2017 Data

In [36]:
df_2017 = pd.read_csv('2017/Student Feedback Surveys-Superview.csv')
# Tidy columns by removing 'ID' and renaming 'Rating (Num)'.
df_2017 = df_2017.drop(columns=['ID']).rename(columns = {"Rating (Num)": "Rating"})
# Drop any NA/null data
df_2017 = df_2017.dropna()
# Make 'Rating' column numerical.
df_2017['Rating'] = pd.to_numeric(df_2017.Rating)
df_2017.head()

        Location           Track    Week  Rating    Schedule Pacing
0  San Francisco  Apps, Explorer  Week 1       3         Just right
1    Los Angeles            Apps  Week 1       4  A little too fast
2  San Francisco           Games  Week 1       4       Way too slow
4  New York City  Apps, Explorer  Week 1       4         Just right
5   Redwood City            Apps  Week 1       5         Just right

# Clean 2016 Data

In [106]:
# Create empty DataFrame to dump data from csv files.
df_2016 = pd.DataFrame()

def week_to_int(week):
    return int(week[-1])

columns = ["Timestamp"]
# Regex grabs week and location from file name.
p = re.compile("(Week \d) Feedback - (\w+).csv")
for csv in glob.glob("2016/*.csv"):
    match = p.search(csv)
    if match: 
        week = match.group(1)
        location = match.group(2) 
    csv_df = pd.read_csv(csv)
    df_2016 = df_2016.append(csv_df, ignore_index=True, sort=False)
df_2016

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?,How well are the tutorials paced?,What track are you in?,Unnamed: 0
0,8/5/2016 1:39:41,3,3,NaN,NaN,NaN
1,8/5/2016 1:40:47,4,3,NaN,NaN,NaN
2,8/5/2016 1:40:50,4,3,NaN,NaN,NaN
3,8/5/2016 1:42:44,4,4,NaN,NaN,NaN
4,8/5/2016 1:45:13,5,4,NaN,NaN,NaN
5,8/5/2016 1:45:39,4,3,NaN,NaN,NaN
6,8/5/2016 1:49:21,4,3,NaN,NaN,NaN
7,8/8/2016 1:30:34,5,3,NaN,NaN,NaN
8,8/8/2016 1:33:45,5,3,NaN,NaN,NaN
9,8/8/2016 1:49:29,5,3,NaN,NaN,NaN
10,8/8/2016 1:51:00,3,3,NaN,NaN,NaN
11,7/31/2016 1:04:57,3,4,NaN,NaN,NaN
12,7/31/2016 3:38:14,4,3,NaN,NaN,NaN
13,7/31/2016 3:59:43,4,1,NaN,NaN,NaN
14,7/31/2016 4:19:51,4,2,NaN,NaN,NaN
15,7/31/2016 5:14:20,5,4,NaN,NaN,NaN
16,7/31/2016 6:50:12,3,3,NaN,NaN,NaN
17,7/31/2016 15:23:52,5,5,NaN,NaN,NaN
18,7/31/2016 16:49:45,4,2,NaN,NaN,NaN
19,8/1/2016 1:18:47,3,4,NaN,NaN,NaN
20,8/1/2016 1:30:17,5,3,NaN,NaN,NaN
21,8/1/2016 1:30:17,5,3,NaN,NaN,NaN
22,8/1/2016 6:15:10,4,4,NaN,NaN,NaN
23,8/1/2016 7:56:08,4,3,NaN,NaN,NaN
24,6/23/2016 22:24:53,2,NaN,3.0,NaN,NaN
25,6/27/2016 4:03:03,2,NaN,3.0,NaN,NaN
26,6/23/2016 22:13:04,3,NaN,3.0,NaN,NaN
27,6/23/2016 22:09:23,4,NaN,4.0,NaN,NaN
28,6/23/2016 22:11:39,4,NaN,4.0,NaN,NaN
29,6/23/2016 22:11:44,4,NaN,4.0,NaN,NaN
...,...,...,...,...,...,...
897,7/8/2016 16:40:10,3,4,NaN,Apps,NaN
898,7/8/2016 13:58:12,4,4,NaN,Apps,NaN
899,7/8/2016 13:53:19,3,4,NaN,Apps,NaN
900,7/8/2016 15:59:30,3,2,NaN,Apps,NaN
901,7/8/2016 16:11:32,5,4,NaN,Apps,NaN
902,7/8/2016 12:49:05,5,5,NaN,Games,NaN
903,7/8/2016 12:49:16,4,3,NaN,Games,NaN
904,7/8/2016 12:47:42,5,3,NaN,Games,NaN
905,7/8/2016 12:43:44,5,3,NaN,Intro,NaN
906,7/8/2016 13:55:51,4,3,NaN,Apps,NaN
907,7/8/2016 14:02:54,5,3,NaN,Games,NaN
908,7/8/2016 14:29:22,5,3,NaN,Games,NaN
909,7/9/2016 17:05:33,5,2,NaN,Games,NaN
910,7/8/2016 16:55:21,3,3,NaN,Apps,NaN
911,7/8/2016 16:08:13,3,3,NaN,Games,NaN
912,7/8/2016 13:56:39,4,3,NaN,Apps,NaN
913,7/8/2016 14:03:35,4,2,NaN,Apps,NaN
914,7/8/2016 13:51:14,4,5,NaN,Games,NaN
915,7/8/2016 12:41:10,4,4,NaN,Intro,NaN
916,7/8/2016 12:41:13,4,4,NaN,Intro,NaN
917,7/8/2016 12:41:51,4,3,NaN,Intro,NaN
918,7/8/2016 12:43:35,4,3,NaN,Intro,NaN
919,7/8/2016 12:45:11,4,3,NaN,Intro,NaN
920,7/8/2016 12:47:39,4,3,NaN,Intro,NaN
921,7/8/2016 13:01:58,4,4,NaN,Intro,NaN
922,7/10/2016 23:44:41,4,4,NaN,Games,NaN
923,NaN,#REF!,#REF!,NaN,Average:,NaN
924,7/8/2016 16:41:06,5,3,NaN,Apps,NaN
925,7/8/2016 13:07:39,5,3,NaN,Games,NaN
926,7/8/2016 12:45:02,5,3,NaN,Intro,NaN

# What is the NPS score for 2017?

In [69]:
# Seperate into different data frames.
detractors_df = df_2017[df_2017.Rating < 7]
passives_df = df_2017[(df_2017.Rating >= 7) & (df_2017.Rating < 9)]
promoters_df = df_2017[df_2017.Rating >= 9]
detractors_df.head()

        Location           Track    Week  Rating    Schedule Pacing
0  San Francisco  Apps, Explorer  Week 1       3         Just right
1    Los Angeles            Apps  Week 1       4  A little too fast
2  San Francisco           Games  Week 1       4       Way too slow
4  New York City  Apps, Explorer  Week 1       4         Just right
5   Redwood City            Apps  Week 1       5         Just right

In [73]:
# Grab the sum of each category.
detract_count = detractors_df.Rating.count()
pass_count = passives_df.Rating.count()
promote_count = promoters_df.Rating.count()
# Sum up all counts from detractors passives and promoters.
total_count = detract_count + pass_count + promote_count

(detract_count, pass_count, promote_count, total_count)

(113, 554, 739, 1406)

In [74]:
# Calculate percentages of each category.
detrac_perc = total_count / detract_count
pass_perc = total_count / pass_count
promote_perc = total_count / promote_count

(detrac_perc, pass_perc, promote_perc)

(12.442477876106194, 2.5379061371841156, 1.902571041948579)

In [77]:
# Calculate NPS
nps = (promote_perc - detrac_perc)
nps

-10.539906834157614